<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-sm-4 col-lg-3">
      <img class="img-fluid rounded" src="../assets/images/{{artist.shortname}}.jpg" alt="{{artist.name}} photo">
    </div>
    <div class="list col-5">
      <div class="badge badge-secondary pr-3 pl-3">
        <h2>{{artist.name}}</h2> 
      </div>
      <h5 class="mt-4">{{artist.area}}</h5>
      <p class="mt-2">{{artist.description}}</p>
      <button type="button" class="btn btn-outline-danger btn-sm"><a href="index.html">back</a></button>
    </div>
  </div>
</div>
<!--artistdetails-->
